<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywwuyi.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="com.ywwuyi.domain.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bookname" property="bookname" jdbcType="VARCHAR" />
    <result column="presentation" property="presentation" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bookname, presentation, image, type, date, cost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywwuyi.domain.Book" >
    insert into book (id, bookname, presentation, 
      image, type, date, cost
      )
    values (#{id,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{presentation,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{cost,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ywwuyi.domain.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookname != null" >
        bookname,
      </if>
      <if test="presentation != null" >
        presentation,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="presentation != null" >
        #{presentation,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywwuyi.domain.Book" >
    update book
    <set >
      <if test="bookname != null" >
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="presentation != null" >
        presentation = #{presentation,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywwuyi.domain.Book" >
    update book
    set bookname = #{bookname,jdbcType=VARCHAR},
      presentation = #{presentation,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      cost = #{cost,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>